<header class="bg-primary text-white text-center py-5">
  <div class="container header-container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <p class="header-text">I am Farzana Akter</p>
        <img src="assets/picture/latestPic.jpg" alt="Your Name" class="rounded-circle mb-3" style="width: 150px; height: 150px;">
        <p class="lead">Software Engineer</p>
        <p class="portfolio-description">
          Welcome to my portfolio! I specialize in Angular development and strive to create innovative web solutions.
        </p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/f-akter/" class="text-white" target="_blank">LinkedIn</a></li>
          <li class="list-inline-item"><a href="https://github.com/farzana210886" class="text-white" target="_blank">GitHub</a></li>
          <li class="list-inline-item"><a href="src\assets\Farzana Akter Resume.pdf" class="text-white" download>Download Resume</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>