
<section id="about" class="bg-light py-5">
  <div class="container">
    <h2 class="section-title text-center mb-5">About Me</h2>

    <div class="row">
      <div class="col-md-6">
        <p class="about-description">
          Proficient in full-stack software development, my expertise spans the entire product development lifecycle, from requirement gathering to deployment. This encompasses the design, coding, testing, implementation, and maintenance of high-quality desktop and web applications. Backend development is carried out using Java and C#, while front-end development leverages JavaScript, supported by various development tools, configuration and release management processes, databases, and application maintenance. My skill set is complemented by strong communication abilities, and extensive troubleshooting experience
        </p>
        
  
        <h3 class="skills-title">Skills</h3>
        <ul class="skills-list">
          <li>Angular</li>
          <li>JavaScript</li>
          <li>HTML5</li>
          <li>C# .Net</li>
          <li>Java Spring</li>
          <li>MS SQL</li>
          <li>Project Management</li>
          <li>DevOps</li>
          <li>CI/CD</li>
        </ul>
      </div>
    </div>
  </div>
</section>
  
