
  <section id="experience" class="bg-light py-5">
    <div class="container">
      <h2 class="section-title text-center mb-5">Work Experience</h2>
  
      <div class="row experience-entry">
        <div class="col-md-3 text-center">
          <img src="assets/picture/southtech.jpg" alt="Company Logo" class="company-logo img-fluid">
        </div>
        <div class="col-md-9">
          <h3 class="company-name">Company Name</h3>
          <p class="position">Position: Sr. Software Engineer</p>
          <p class="duration">Duration: March 2020 - February 2023</p>
          <p class="description">
            I worked Southtech Limited as a Senior Software Engineer from March 2020 to February 2023. During the job tenure 
            I worked on many software projects using Java, C#, Spring and .Net.
          </p>
      
        </div>
      </div>
  
    </div>
  </section>

  
